.payment-option {
  min-width: 150px;
  padding: 10px 16px;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(243, 229, 229);
}

.payment-option.selected {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  transform: scale(1.02);
}

.payment-option svg {
  font-size: 18px;
}
