.profileContainer {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: aliceblue;
  margin-top: 2rem;
}

.navAvatarPlaceholder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: white; /* important: text visible ho */
}
