.cancelModal .modal-content {
    border-radius: 16px;
    border: none;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
    font-family: "Inter", sans-serif;
    animation: fadeIn 0.3s ease;
    margin-top: 50px;
   
}

.cancelModal {
    margin-top: 6rem;
    padding-top: 0;
    text-align: center;

}

.HeaderModel {
    text-align: center;
    justify-content: center;
}

.modalTitle {
    color: #c53838;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.cancelModal p svg {
    font-size: 2rem;
    color: rgb(224, 224, 13);
}

.cancelModal .modal-header {
    background: #b71c1c;
    color: #fff;
    border-radius: 16px 16px 0 0;
}

.closeBtn {
    background: #f5f5f0;
    color: #333;
    border-radius: 8px;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    transition: all 0.2s ease;
    border: 2px solid rgb(204, 128, 28);
}

.closeBtn:hover {
    background: #ddd;
    border: 2px solid rgb(151, 93, 18);
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.cancelBtn {
    background: #d32f2f;
    color: #fff;
    border-radius: 8px;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    border: 2px solid rgb(151, 33, 18);
    transition: all 0.2s ease;
}

.cancelBtn:hover {
    background: #b71c1c;
    border: 2px solid rgb(223, 35, 10);
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 4px 10px rgba(194, 75, 75, 0.25);
}

@media (max-width: 576px) {
   .cancelModal p{
    font-size: 1.4rem;
   }
}